@page "/"
@inject IRepository _repository
@inject SweetAlertService _sweetAlertService

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<table class="table table-hover table-bordered align-middle text-center">
    <thead>
        <tr>
            <th> Alumno </th>
            <th> Colegio </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Students!)
        {
            <tr>
                <td> @item.FullName </td>
                <td> @item.Email </td>
            </tr>
        }
    </tbody>
</table>


@code {
    public List<User>? Students = [];


    protected async override Task OnInitializedAsync()
    {
        await Load();
    }


    private async Task Load()
    {
        try
        {
            var responseHppt = await _repository.GetAsync<List<User>>("api/Accounts/AllUsers");
            Students = responseHppt.Response!;
        }
        catch (Exception ex)
        {
            await _sweetAlertService.FireAsync("Error", ex.Message, SweetAlertIcon.Error);
        }
    }
}
